@font-face {
	font-family: 'Lucida Grande';
	src: url(https://dl.dropboxusercontent.com/s/5zfrton1z3mqkyl/LucidaGrande.ttf);
}
@font-face {
	font-family: 'Tahoma';
	src: url(https://dl.dropboxusercontent.com/s/luf3fs9zjmxgqud/tahoma.ttf);
}
@font-face {
	font-family: 'Verdana';
	src: url(https://dl.dropboxusercontent.com/s/vlkoruda6jpsiuw/verdana.ttf);
}