@font-face {
	font-family: 'Lucida Grande';
	src: url(https://rawcdn.githack.com/Half-Bl00d/tokyo-revengers-haze/3dbdb3c8e2ef0df62180d5ad37ac8f0260c8ffab/LucidaGrande.ttf);
}
@font-face {
	font-family: 'Tahoma';
	src: url(https://rawcdn.githack.com/Half-Bl00d/tokyo-revengers-haze/59f26d33b842471ea6375c288f04fe03f223de1e/tahoma.ttf);
}
@font-face {
	font-family: 'Verdana';
	src: url(https://rawcdn.githack.com/Half-Bl00d/tokyo-revengers-haze/59f26d33b842471ea6375c288f04fe03f223de1e/verdana.ttf);
}
